<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Home Page</h2>
        <h3>Welcome {{main.name}} to the HouseBuddy Application</h3>
    </div>
    <!--slidebar-->
    <div style="height:40%;">
        <div class="col-md-20 col-sm-21 col-xs-22">
            <div id="carousel-example" class="carousel slide slide-bdr" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img id="img1" class="img-fluid" src="assets/Images/house1.jpg" />
                    </div>
                    <div class="item">
                        <img id="img2" class="img-fluid" src="assets/Images/house2.jpg" />
                    </div>
                    <div class="item">
                        <img id="img3" class="img-fluid" src="assets/Images/house3.jpg" />
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example" data-slide-to="1" ></li>
                    <li data-target="#carousel-example" data-slide-to="2" ></li>
                </ol>
                <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>